h1 {
  text-align: center;
}

body {
  background-image: url(../images/library.jpg);
}
p {
  margin: 18px;
  font-size: 28px;
  text-align: center;
}
.white-colored {
  color: white;
}


.mother-div {
  text-align: center;

  display: flex;
  align-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 500px;
  height: 600px;
  outline: double 2px rgb(96, 50, 25);
  backdrop-filter: blur(3px);
}

#map-loc{
	color: navy;
}

#login-button {
  margin-top: 50px;
}

input {
  height: 30px;
  font-size: 20px;
}
.form-div {
  width: 350px;
  height: 550px;
  /* outline: solid 2px brown; */
  margin: 0 auto;
  display: grid;
  align-content: normal;
  align-items: normal;
}

.account-address {
  position: absolute;
  width: 400px;
  align-self: last baseline;
  display: grid;
}

.error{
	font-size : 24px;
	color: red;
}
