@charset "UTF-8";

html {
	height: 100%
}

table {
	text-align: center;
	width: 100%;
	table-layout: fixed;
}

td, th {
	padding: 10px;
	border: 1px solid black;
}

.head {
	font-size: 28px;
	font-style: oblique;
}

.mainDiv {
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 80%;
	background-image: url("../images/backg.jpg");
	background-position: center;
	outline: solid 10px black;
}

.booksDiv {
	text-align: center;
	margin: 0 auto;
	margin-top: 60px;
	align-content: center;
	align-items: center;
	width: 85%
}

body {
	height: 100%;
	background-image: url("../images/library.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

p.comment {
	font-size: 20px;
}

a {
	font-size : 25px;
	margin-right : 70px;
	float: right; 
	color: black;
	
}